.details {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 87%;
    margin: 2rem auto;


    &__text {
        
        &--title {
            line-height: 5.5rem;
            font-size: 2rem;
        }

        &--paragraph {
            color: #696969;
            font-size: 1.4rem;
            line-height: 3rem;
        }
    }

    &__img {

        &--pic {
            width: 80%;
            height: 85%;
            margin-right: 12rem;
        }
    }
}
