.details {
    display: flex;
    width: 87%;
    margin: 2rem auto;

    @media only screen and (max-width: $bp-xmedium) {
        flex-direction: column;
        margin-right: 18rem;
        width: 70%;
    }


    &__text {
        
        &--title {
            line-height: 5.5rem;
            font-size: 2rem;
        }

        &--paragraph {
            color: #696969;
            font-size: 1.4rem;
            line-height: 3rem;
        }
    }

    &__img {

        &--pic {
            width: 80%;
            height: 85%;

            @media only screen and (max-width: $bp-large) {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}
